<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Habitacion</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    
</head>
<body>
    <form th:action="@{'/habitacion/'+${id}+'/edit/save'}" th: object ="${habitacion}"
    method="post">
    <div th:replace="~{fragments/habitacionForm :: habitacionForm(titulo='editar Habitacion',Habitacion=${Habitacion})}">

    </div>
</form>
    
</body>
</html>

