<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Fragmento</title>
    
</head>
<body>
    <div th:fragment="HabitacionForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            
            <label class="col-form-label">Capacidad</label>
            <input class="form-control" type="text" id="capacidad"
            name="capacidad" required th:value="${habitaciones.capacidad}"/>
            
            <label class="col-form-label" for="tipoId">Tipo:</label>
            <select class="form-control" id="tipoId" name="tipoId" required>
                <th:block th:each="tipoId : ${tipos}" >
                    <option th:value="${tipoId.id}" th:text="${tipoId.tipo}" th:selected="${habitaciones != null && habitaciones.tipoId != null && habitaciones.tipoId.id == tipoId.id}"></option>
                </th:block>
            </select><br>


           


            <div class="text_center">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
                <a th:href="@{/habitaciones}" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>


    
</body>
</html>