<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Plato / Bebida</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>


<div class="container mt-3">
    <div class="d-flex justify-content-start">
        <h1 style="text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);">Añadir Platos y Bebidas</h1>
        <h1 th:text=" ${nombreTipoBebida}" style="margin-left: 10px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);"></h1>
    </div>

    <!-- Formulario de creación -->
    <form th:action="@{/addPlatoYBebidaSave}" th:object="${platoybebida}" method="post" style="margin-top: 35px;">

        <!-- Campo oculto para la variable nombreTipoBebida -->
        <input type="hidden" id="nombreTipoBebida" name="nombreTipoBebida" th:value="${nombreTipoBebida}" />
        
        <label for="nombre">Nombre del plato/bebida:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required />

        <label for="descripcion">Descripcion</label>
        <input type="text" id="descripcion" name="descripcion" th:field="*{descripcion}" required />


        <button type="submit" class="btn btn-success">Añadir Plato o Bebida</button>
    </form>

</div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
