<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Consumos</title>
</head>
<body>
    <div> lista de usuarios</div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>Fecha</th>
            
                <th>Acciones</th>

            </tr>
        </thead>
        <th:block th:each="consumos:${consumos}">
            <tr>
                <td th:text="${consumos.id}"></td>
                <td th:text="${consumos.fecha}"></td>
                
                
                <td>
                    <a th:href="@{/consumos/{id}/edit(id=${consumos.id})}" >Editar</a>
                    <a th:href="@{/consumos/{id}/delete(id=${consumos.id})}"onclick = "return confirm ('Estas seguro de borrar este consumo?')" > Eliminar</a>


            </tr>


        </th:block>


    </table>
    <div>
        <a th:href="@{/}" class="btn btn-primary">Volver Atras</a>
        <a th:href="@{consumos/new}" class="btn btn-primary">Añadir consumo</a>
        <a th:href="@{consumos/req6}" class="btn btn-primary">Ver req6</a>
</body>
</html>