<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
    <title> Habitaciones</title>
</head>
<body>
    <div>  RFC1 - MOSTRAR EL DINERO RECOLECTADO POR SERVICIOS EN CADA HABITACIÓN EN EL ÚLTIMO AÑO CORRIDO.</div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>id habitacion</th>
                <th>tipo</th>
                <th>precio</th>
              
            </tr>
        </thead>
        <th:block th:each="habitaciones:${habitaciones}">
            <tr>
                <td th:text="${habitaciones.getHABITACION_ID}"></td>
                <td th:text="${habitaciones.getDESCRIPCION}"></td>
                <td th:text="${habitaciones.getTotal_Precio}"></td>
     
            </tr>


        </th:block>


    </table>
    <div>
        <a th:href="@{/habitaciones}" class="btn btn-primary">Volver Atras</a>
        
</body>
</html>