<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Editar Habitacion</title>
</head>

<body>
    <br>
    <form th:action="@{'/habitaciones/'+${id}+'/edit/save'}" th:object ="${habitaciones}" method="post">
        <div th:replace="~{fragments/HabitacionForm :: HabitacionForm(titulo='editar habitacion',habitaciones=${habitaciones})}">
    </form>
    
</body>
</html>


