<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepcionista</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class ="container mx_auto w-25">
        <h1>CHECK IN/ OUT</h1>
        <div>
            <a th:href="@{/reservasIO}" class="btn btn-primary">Ver Reservas</a>
            <a th:href="@{usuarios/req9}" class="btn btn-primary">Ver req 9</a>
            <a th:href="@{usuarios/req10}" class="btn btn-primary">Ver req 10</a>
           
        </div>
        <br/>
    
</div>
</body>
</html>