<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleado</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class ="container mx_auto w-25">
        <h1>Seleccione Habitación</h1>
        <div>
            <a th:href="@{/reservas}" class="btn btn-primary">Ver Reservas</a>
            <a th:href="@{/consumos}" class="btn btn-primary">Consumos</a>
            <a th:href="@{/utensilios}" class="btn btn-primary">Ver Servicios</a>
            <a th:href="@{/bares}" class="btn btn-primary">Ver Bares</a>
            <a th:href="@{/tiposHab}" class="btn btn-primary">Ver Tipo de Habitacion</a>
            <a th:href="@{/tiendas}" class="btn btn-primary">Ver tiendas</a>
            
        </div>
        <br/>
    
</div>
</body>
</html>