<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Super Mercado</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <form th:action="@{'/mercados/'+${id}+'/edit/save'}" th:object ="${mercado}" method="post">
        <div th:replace="~{fragments/MercadoForm :: MercadoForm(titulo='Editar Mercados',mercados=${mercado})}"></div>
</body>
</html>