<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Super Mercados</title>
</head>
<body>
    <div> lista de Super mercados</div>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Horario Apertura</th>
                <th>Horario Cierre</th>
                <th>Capacidad</th>

            </tr>
        </thead>
        <th:block th:each="Mercados:${mercados}">
            <tr>
                <td th:text="${Mercados.id}"></td>
                <td th:text="${Mercados.nombre}"></td>
                <td th:text="${Mercados.horarioapertura}"></td>
                <td th:text="${Mercados.horariocierre}"></td>
                <td th:text="${Mercados.capacidad}"></td>
                <td>
                    <a th:href="@{/mercados/{id}/edit(id=${Mercados.id})}" >Editar</a>
                    <a th:href="@{/mercados/{id}/delete(id=${Mercados.id})} "onclick = "return confirm ('Estas seguro de borrar este utensilio?')" > Eliminar</a>

                </td>
            </tr>


        </th:block>


    </table>
    <div>
        <a th:href="@{/}" class="btn btn-primary">Volver Atras</a>
        <a th:href="@{mercados/new}" class="btn btn-primary">Añadir Super Mercado</a>
</body>
</html>