<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Plato/Bebida</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <form th:action="@{'/platosbebidas/'+${id}+'/edit/save'}" th:object ="${platobebida}" method="post">
        <div th:replace="~{fragments/platosBebidasForm :: platosBebidasForm(titulo='Editar PlatoBebida',platobebida=${platobebida})}">
    </form>
</body>
</html>