<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD SERVICIOS</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class ="container mx_auto w-25">
        <h1>CRUD SERVICIOS Admin</h1>
        <div>
            <a th:href="@{/piscinas}" class="btn btn-primary">Piscinas</a>
            <a th:href="@{/gimnasios}" class="btn btn-primary">Gimnasios</a>
            <a th:href="@{/internets}" class="btn btn-primary">Internet</a>
            <a th:href="@{/bares}" class="btn btn-primary">Bares</a>
            <a th:href="@{/restaurantes}" class="btn btn-primary">Restaurantes</a>
            <a th:href="@{/SMercados}" class="btn btn-primary">SuperMercados</a>
            <a th:href="@{/tiendas}" class="btn btn-primary">Tiendas</a>
            <a th:href="@{/spas}" class="btn btn-primary">Spa</a>
            <a th:href="@{/lavanderias}" class="btn btn-primary">Lavanderia</a>
            <a th:href="@{/prestamosUt}" class="btn btn-primary">Prestamos Utensilios</a>
            <a th:href="@{/salones}" class="btn btn-primary">Salones de reunion</a>
           
        </div>
        <br/>
    
</div>
</body>
</html>