<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear tipo de Usuario</title>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    
</head>
<body>
    <form action="#" th:action="@{/tiposUsuario/new/save}" method="post">
        <div th:replace="~{fragments/TiposUsuarioForm :: TiposUsuarioForm(titulo='Crear tipo de usuario')}"></div>
    </form>
</body>
</html>