<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Editar tipo Usuario</title>
</head>

<body>
    <br>
    <form th:action="@{'/tiposUsuario/'+${id}+'/edit/save'}" th:object ="${tiposUsuario}" method="post">
        <div th:replace="~{fragments/TiposUsuarioForm :: TiposUsuarioForm(titulo='editar tipo usuario',tiposUsuario=${tiposUsuario})}">
    </form>
    
</body>
</html>


