<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Editar Usuario</title>
</head>

<body>
    <br>
    <form th:action="@{'/usuarios/'+${id}+'/edit/save'}" th:object ="${usuario}" method="post">
        <div th:replace="~{fragments/usuarioForm :: usuarioForm(titulo='editar usuario',usuario=${usuario})}">
    </form>
    
</body>
</html>


