<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Servicios</title>
</head>
<body>
    <div> Lista de Servicios</div>

    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>duracion</th>
            </tr>
        </thead>
        <th:block th:each="Utensilios:${utensilios}">
            <tr>
                <td th:text="${Utensilios.id}"></td>
                <td th:text="${Utensilios.descripcion}"></td>
                <td th:text="${Utensilios.tipo}"></td>
                <td th:text="${Utensilios.duracion}"></td>
                <td>
                    <a th:href="@{/utensilios/{id}/edit(id=${Utensilios.id})}" >Editar</a>
                    <a th:href="@{/utensilios/{id}/delete(id=${Utensilios.id})} "onclick = "return confirm ('Estas seguro de borrar este servicio?')" > Eliminar</a>

                </td>
            </tr>


        </th:block>


    </table>
    <div>
        <a th:href="@{/}" class="btn btn-primary">Volver Atras</a>
        <a th:href="@{utensilios/new}" class="btn btn-primary">Añadir servicio</a>
</body>
</html>